%p#notice= notice

%p
  %strong Name:
  = @laboratory.name
%p
  %strong Localization:
  = @laboratory.localization
= link_to 'Edit', edit_laboratory_path(@laboratory), {:class => "waves-effect waves-light btn blue"}
= link_to 'Back', laboratories_path, {:class => "waves-effect waves-light btn grey darken-1"}
