!!!
%html
  %head
    %title Labs
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render :partial => "layouts/navbar"

    .container.grey-text.text-darken-3
      = yield

    = render :partial => "layouts/footer"
